openapi: 3.0.0
info:
  version: 1.0.0
  title: Back End Coursework Submission
  description: A Canine Shelter Blog API
  contact:
    name: Muhammad Afif Bin Zainuddin
    email: binzainudm@coventry.ac.uk
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
servers:
  - url: 'https://pilot-energy-3000.codio-box.uk/canine_shelter/v1'
    description: Development server
tags:
  - name: Users
    description: CRUD operations and API endpoints for user management.
  - name: Listings
    description: Access and perform CRUD operations on listing dog entries.
paths:
  /users:
    summary: Represents an individual user
    description: >
      This resource represents an individual user in the system.
      Each user is identified by a numeric `id`.
      Each user is allocated with a specific role likes user, employee and admin.
    post:
      tags:
        - Users
      description:
        Create a new user account.
      requestBody:
        description: All new user data.
        required: true
        content:
          application/json:
            schema:
              $ref: ./user.json#/definitions/user
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: ./user.json#/definitions/userUpdated
        '403':
          description: Forbidden
        '500':
          description: Internal server error
    get:
      tags:
        - Users
      description:
        Get a list of all users.
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: ./user.json#/definitions/userList
        '401':
          description: Only admin users can list all accounts
        '500':
          description: Internal server error
  /users/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
        description: Numeric id of the user
    get:
      tags:
        - Users
      description:
        Get user by id.
      responses:
        '200':
          description: View of user record
          content:
            application/json:
              schema:
                $ref: ./user.json#/definitions/userView
        '401':
          description: Non-admin users can only view their own record
        '404':
          description: Not found
        '500':
          description: Internal server error
    put:
      tags:
        - Users
      description:
        Update user by id.
      requestBody:
        description: Update a visible property or the password.
        required: true
        content:
          application/json:
            schema:
              $ref: ./user.json#/definitions/userUpdate
      responses:
        '200':
          description: Confirmation and link to record.
          content:
            application/json:
              schema:
                $ref: ./user.json#/definitions/userUpdated
        '404':
          description: Not found
        '403':
          description: Forbidden
    delete:
      tags:
        - Users
      description:
        Delete user by id.
      responses:
        '200':
          description: Confirmation of deletion.
          content:
            application/json:
              schema:
                $ref: ./user.json#/definitions/userDeleted
        '401':
          description: Only admin users can delete accounts
        '404':
          description: Not found
  /listings:
    summary: Represents an individual dog listed
    description: >
      This resource represents an individual dog listed in the system.
      Each user is identified by a numeric `id`.
    post:
      tags:
        - Listings
      description:
        Create a new dog.
      requestBody:
        description: All new user data.
        required: true
        content:
          application/json:
            schema:
              $ref: ./listing.json#/definitions/listing
      responses:
        '201':
          description: New dog is successfully created
          content:
            application/json:
              schema:
                $ref: ./listing.json#/definitions/listing
        '403':
          description: Forbidden
        '404':
          description: Page Not Found
        '500':
          description: Internal server error
    get:
      tags:
        - Listings
      description:
        Get a list of all dogs.
      responses:
        '200':
          description: List of dogs
          content:
            application/json:
              schema:
                $ref: ./listing.json#/definitions/listing
        '500':
          description: Internal server error
  /listings/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
        description: Numeric id of the dog listings
    get:
      tags:
        - Listings
      description:
        Get dog by id.
      responses:
        '200':
          description: View of dogs record
          content:
            application/json:
              schema:
                $ref: ./listing.json#/definitions/listing
        '404':
          description: Not found
        '500':
          description: Internal server error
    put:
      tags:
        - Listings
      description:
        Update dogs by id.
      requestBody:
        description: Update dogs information
        required: true
        content:
          application/json:
            schema:
              $ref: ./listing.json#/definitions/listing
      responses:
        '200':
          description: Confirmation and link to record.
          content:
            application/json:
              schema:
                $ref: ./listing.json#/definitions/listing
        '404':
          description: Not found
        '403':
          description: Forbidden
    delete:
      tags:
        - Listings
      description:
        Delete dogs by id.
      responses:
        '200':
          description: Confirmation of deletion.
          content:
            application/json:
              schema:
                $ref: ./listing.json#/definitions/listing
        '401':
          description: Only admin and employee users can delete dog listings
        '404':
          description: Not found