openapi: 3.0.0
info:
  version: 1.0.0
  title: Back End Coursework Submission API
  description: A Canine shelter blog API
  contact:
    name: Muuhammad Afif bin Zainuddin
    email: binzainudm@coventry.ac.uk
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/license/LICENSE-2.0.html'
    
servers:
  - url: 'https://pilot-energy-3000.codio-box.uk/api/v1'
    description: Development server
    
tags:
  - name: Users
    description: API endpoints for user management.
  - name: Listings
    description: Access and perform CRUD operations on blog entries.

paths:
  /users:
    summary: Represents an individual users
    description: >
      This rsource represents an individual user in the system.
      Each user is identified by a numeric `id`.
    post:
      tags:
        - Users:
      description:
        Create a new uer account.
      requestBody:
        description: All new user data.
        required: true
        content:
          application/json:
            schema:
              $ref: ./user.json#/definitions/userUpdated
    get:
      tags:
      - Users
      description:
        Get a list of all users.
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                $ref: ./user.json#definitions/userList
        '401':
          description: Only admin users can list all accounts
                   
  /users/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: integer
        required: true
        description: Numeric id of the user
    get:
      tags:
        - Users
      description:
        Get user by id.
      responses:
        '200':
          description: View of user record
          content:
            application/json:
              schema:
                $ref: ./user.json#/definitons/userView
        '401':
          description: Non-admin users can only view their own record.
        '404':
          description: Not found     
    put:
      tags:
        - Users
      description:
        Update user by id.
      requestBody:
        description: Update a visible property or the password.
        required: true 
        content:
          application/json:
            schema:
              $ref: ./user.json#/definitions/userUpdate
      responses:
        '200':
          description: Confirmation and link to record.
          content: 
            application/json:
              schema:
                $ref: .user.json#/definitions/userUpdated
        '404':
          description: Not found       
    delete:
      tags:
        - Users
      description:
        Delete user by id.
      responses:
        '200':
          description: Delete confirmation.
          content: 
            application/json:
              schema:
                $ref: ./user.json#/definitons/userDeleted
        '401':
          description: Only admin users can delete accounts.
        '404':
          description: Not found

      
  